/*
FILE NAME: style.css
WRITTEN BY: Chesley
WHEN: June 20 2014
PURPOSE: style for storage
*/

body {
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-family: Garamond;
    line-height: 23px;
    font-weight: 400;
    padding: 0;
    background-color: #dddddd ;
    color:#4e82a4;
    width: 80%;
    color: #2947f7;
    }
